@model INTEXII.Models.finalburialrecords2

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mummies</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Burial ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.burialid)
        </dd>
        <dt class="col-sm-2">
            Sex
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sex)
        </dd>
        <dt class="col-sm-2">
            Age at Death
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ageatdeath)
        </dd>
        <dt class="col-sm-2">
            Body Length
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.length)
        </dd>
        <dt class="col-sm-2">
            Head Direction
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.headdirection)
        </dd>
        <dt class="col-sm-2">
            Hair Color
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HairColor)
        </dd>
        <dt class="col-sm-2">
            Face Bundles
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.facebundles)
        </dd>
        <dt class="col-sm-2">
            Textile Color
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.colorvalue)
        </dd>
        <dt class="col-sm-2">
            Textile Structure
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.structurevalue)
        </dd>
        <dt class="col-sm-2">
            Textile Function
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.textilefunctionvalue)
        </dd>
        <dt class="col-sm-2">
            Burial Depth
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.depth)
        </dd>
        <dt class="col-sm-2">
            South to Head
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.southtohead)
        </dd>
        <dt class="col-sm-2">
            West to Head
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.westtohead)
        </dd>
        <dt class="col-sm-2">
            South to Feet
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.southtofeet)
        </dd>
        <dt class="col-sm-2">
            West to Feet
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.westtofeet)
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.filename)
            <img src="@Model.filename" />
        </dd>
        <dt class="col-sm-2">
            Observations
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <dt class="col-sm-2">
            Notes
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-dark" asp-action="UnauthenticatedData">Back</a>
</div>
